/*Work Sans Font Import Url*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');



/**Login Page Styles*/

.login {
  background-color: var(--mainbg);
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;

  .container_1 {
    width: 50%;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem 6.5rem;
    padding: 1rem 7.5rem 7rem;

    .logo_mx {
      img {
        height: 34px;
      }

    }

    .pablo {
      max-width: 600px;
      max-height: 400px;
    }
  }

  .container_2 {
    width: 50%;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    justify-content: center;
    padding: 1rem 6.5rem;
    background: #FFFFFF;
    box-shadow: 0px 15px 90px rgba(0, 0, 0, 0.03);

    .logo_sx {
      img {
        height: 34px;
        display: none;
      }

    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      line-height: 1;
      row-gap: 2rem;
      padding: 0px 6rem;

      h1 {
        font-family: 'AvenirNextBold';
        color: var(--primarycolor);
        font-size: 4rem;
        font-weight: 700;
        font-style: normal;
        line-height: 55px;
        margin: 0;
        letter-spacing: -0.04em;
      }

      h2 {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        margin: 0;
        line-height: 27px;
        color: #545F7D;
      }

      h1,
      h2 {
        margin-top: -10px;
      }

      a {
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        text-align: left;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        text-decoration: none;
        color: var(--secondarycolor);
      }



      input[type="email"],
      input[type="password"] {
        border: 2px solid rgba(84, 95, 125, 0.15);
        border-radius: 5px;
        background: #FFFFFF;
        max-width: 450px;
        font-weight: 400;
        font-size: 14px;
        padding: 1.5rem;
        outline: none;
        color: #545F7D;
      }

      input[type="email"] {
        margin: 3rem 0px 0px;
      }

      input[type="button"] {
        border-radius: 8px;
        max-width: 450px;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        padding: 1.5rem;
        background: var(--secondarycolor);
        border: none;
      }
    }
  }
}

/**Login Page Styles End*/


/**Layout */

.layout {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 70px 1fr;
  grid-template-areas:
    "header header"
    "side main"
  ;
  min-height: 100vh;
  font-family: 'Work Sans', sans-serif;


  .header {
    background: #FFFFFF;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
    grid-area: header;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    position: fixed;
    left: 0;
    height: 70px;
    right: 0;
    z-index: 9999;
    line-height: 19px;
    text-transform: capitalize;
    color: va(--primarycolor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 2.8rem;

    .bars {
      display: none;
      font-size: 30px;
      color: var(--primarycolor);
    }

    #logo {
      max-height: 34px;
    }

    .search {
      background: #FFFFFF;
      border-radius: 8px;
      width: fit-content;

      input[type="text"] {
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        min-width: 400px;
        color: #545F7D;
        border: 1px solid #eee;
        padding: .9rem 1.5rem;
        border-radius: 8px 0px 0px 8px;
        opacity: 0.7;
        outline: none;
      }

      button {
        background: var(--secondarycolor);
        border: 1px solid var(--secondarycolor);
        min-width: 55px;
        min-height: 34px;
        border-radius: 0px 8px 8px 0px;
        padding: 1rem;
        cursor: pointer;
      }
    }

    .right {
      display: flex;
      align-items: center;
      min-width: 300px;
      justify-content: space-around;
      font-family: 'Work Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      text-transform: capitalize;

      a {
        color: var(--primarycolor);
      }

      .action {
        .account-handle {
          color: var(--primarycolor);
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          min-width: 180px;

          .avatar {
            background: #C4C4C4;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            width: 50px;
            height: 50px;

          }

          .toggler {
            display: flex;
            align-items: center;
          }

          svg,
          p {
            cursor: pointer;
            margin: 0px 4px;
          }
        }
      }
    }
  }

  .sidebar {
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
    grid-area: side;
    padding: 2rem 0px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 240px;
    top: 70px;
    overflow: auto;
    transition: transform 0.5s ease 0s;

    span.logo-sx {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 1.9rem 3rem;
      border-bottom: 1px solid #eee;
      background: #eee;
    }

    .sdnav {
      width: 100%;

      .active {
        background: #39cdcc0f;
        opacity: 6;
        border-left: 5px solid var(--secondarycolor);
      }

      .menu {
        text-decoration: none;
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        display: inline-flex;
        line-height: 19px;
        color: var(--primarycolor);
        padding: 1rem 1rem 1rem 2.5rem;
        width: 100%;
        text-transform: capitalize;
        border-left: 5px solid transparent;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        margin: 2rem 0px 0px;
        transition: width 0.2s linear 0s;

        &:hover {
          background-color: #cbd5e121;
        }

        .arrow_down {
          height: 16px;
          width: 16px;
          margin: 0px;
          margin-right: 8rem;
          transform: rotate(179deg);
        }

        .drop-active {
          transform: rotate(360deg);
        }
      }

      a {
        text-decoration: none;
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        display: inline-flex;
        line-height: 19px;
        color: var(--primarycolor);
        padding: 1rem 1rem 1rem 2.5rem;
        width: 100%;
        gap: 1.5rem;
        text-transform: capitalize;
        border-left: 5px solid transparent;
        align-items: center;
        transition: height 0.2s linear 0s;
        transition-delay: 0.1s;


        &:hover {
          background: #39cdcc0f;
        }

        img {
          max-width: 40px;
          max-height: 40px;
        }

        #icon {
          height: 16px;
          width: 16px;
        }
      }
    }
  }

  main {
    background: #FBFBFB;
    ;
    grid-area: main;

    // Dashboard


    .users {
      display: grid;
      min-height: 100vh;
      padding: 5rem;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 40px 160px 1fr;
      grid-template-areas: "name name name name"
        "c1 c2 c3 c4"
        "table table table table";
      gap: 2rem;
      row-gap: 4rem;

      .name {
        grid-area: name;

        h1 {
          font-family: 'Work Sans';
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 28px;
          color: var(--primarycolor);
        }
      }

      #c1 {
        grid-area: c1;
      }

      #c2 {
        grid-area: c2;
      }

      #c3 {
        grid-area: c3;
      }

      #c4 {
        grid-area: c4;
      }

      .card {
        background: var(--mainbg);
        border: 1px solid rgba(33, 63, 125, 0.06);
        box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
        border-radius: 4px;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .name {
          font-family: 'Work Sans';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          text-transform: uppercase;
          color: #545F7D;
        }

        .fig {
          font-family: 'Work Sans';
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 28px;
          text-transform: uppercase;

          color: #213F7D;
        }
      }

      .table {
        grid-area: table;
        overflow: hidden;

        table {
          background: #FFFFFF;
          border: 1px solid rgba(33, 63, 125, 0.06);
          box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
          border-radius: 4px;
          width: 100%;
          padding: 2rem;
          text-align: left;

          td {
            border-bottom: 1px solid rgba(33, 63, 125, 0.1);
            padding: 6px 0px;
          }

          tr:last-child {
            td {
              border-bottom: none;
            }
          }

          thead {
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 40px;
            text-transform: uppercase;
            color: #545F7D;
            padding: 3rem;

            tr {
              th {
                div {
                  display: flex;
                  align-items: center;
                  gap: 1rem;

                  img {
                    height: 16px;
                    width: 16px;
                    cursor: pointer;

                    &:hover {
                      transform: rotateY(45deg);
                    }
                  }
                }
              }
            }
          }

          .table-body {
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 40px;
            color: #545F7D;

            .stats-badge {
              padding: 1rem;
              opacity: 0.9;
              border-radius: 100px;
            }

            .active {
              background: #90ee9033;
              color: #39CD62;
            }

            .blacklisted {
              background: rgb(228 3 59 / 11%);
              border-radius: 100px;
              color: #E4033B;
            }

            .inactive {
              background: #eee;
              border-radius: 100px;
              color: #545F7D
            }

            .pending {
              background: #e9b2002e;
              border-radius: 100px;
              color: #E9B200;
            }
          }
        }

        .data-table-footer {
          width: 100%;
          display: flex;
          justify-content: space-between;

          .data-limit {
            display: flex;
            font-family: "Work Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #545F7D;
            align-items: center;

            select {
              background: rgba(33, 63, 125, 0.1);
              border-radius: 4px;
              border: none;
              color: #213F7D;
              font-weight: 600;
              padding: 6px 0rem 5px 0rem;
              outline: none;
              cursor: pointer;
            }

            p:first-child {
              margin-right: .5rem;
            }

            p:last-child {
              margin-left: .5rem;
            }
          }
        }
      }
    }

    .user-details {
      display: grid;
      min-height: 100vh;
      padding: 3rem;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 40px 40px 200px 1fr;
      grid-template-areas:
        "back back back back"
        "name name name name"
        "card1 card1 card1 card1"
        "card2 card2 card2 card2";
      gap: 2rem;

      .back {
        display: flex;
        align-items: center;

        img {
          height: 10px;
          cursor: pointer;
        }

        button {
          font-family: 'Work Sans';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          color: #545F7D;
          background: none;
          border: none;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }


      .name {
        grid-area: name;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
          font-family: 'Work Sans';
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 28px;
          color: var(--primarycolor);
        }

        button {
          padding: 1rem;
          background: none;
          margin: 0px 1rem;
          cursor: pointer;
          font-size: 14px;
        }

        button#deactivate {
          border: 1px solid #E4033B;
          border-radius: 8px;
          font-family: 'Work Sans';
          font-style: normal;
          font-weight: 600;
          line-height: 16px;
          text-align: center;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: #E4033B;
        }

        button#activate {
          border: 1px solid #39CDCC;
          border-radius: 8px;
          font-family: 'Work Sans';
          font-style: normal;
          font-weight: 600;
          line-height: 16px;
          text-align: center;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: #39CDCC;
        }
      }

      .card1 {
        grid-area: card1;
        background: var(--mainbg);
        border: 1px solid rgba(33, 63, 125, 0.06);
        box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
        border-radius: 4px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 80% 20%;
        grid-template-areas:
          "info info info info info info"
          "section section section section section section";

        .general-info {
          grid-area: info;
          display: flex;
          padding: 3.8rem;
          gap: 2rem;
          align-items: center;

          hr {
            margin: 0;
            max-height: 80px;
            height: 100%;
            opacity: 0.1;
            border: 1px solid #545F7D;
          }

          .username-img-id {
            display: flex;
            align-items: center;

            img {
              max-height: 80px;
              border-radius: 50%;
            }

            .name-id {
              margin-left: 15px;

              h1 {
                font-family: 'Work Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 22px;
                line-height: 26px;
                color: #213F7D;
                margin: 0;
              }

              h2 {
                font-family: 'Work Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 28px;
                color: #545F7D;
                margin: 0;
              }
            }
          }

          .tier {
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
              font-family: 'Work Sans';
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              color: #545F7D;
            }

            .tier-star {
              font-size: 14px;
              line-height: 2;
              width: 100%;
              display: flex;
              justify-content: space-evenly;

              .icon {
                cursor: pointer;

                &:hover {
                  color: #E9B200;
                }
              }
            }
          }

          .current-trans {
            h1 {
              font-family: 'Work Sans';
              font-style: normal;
              font-weight: 600;
              font-size: 22px;
              line-height: 26px;
              color: #213F7D;
              margin: 0;
            }

            h2 {
              font-family: 'Work Sans';
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              line-height: 28px;
              color: #213F7D;
              margin: 0;
            }
          }
        }

        .section-toggle {
          grid-area: section;
          display: flex;
          justify-content: space-around;

          .btn {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            text-align: center;
            color: rgba(0, 0, 0, 0.8);
            background: none;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
          }

          /*Active Button: btn*/
          .active {
            color: var(--secondarycolor);
            border-bottom: 2px solid var(--secondarycolor);
          }
        }
      }

      .card2 {
        grid-area: card2;
        background: var(--mainbg);
        border: 1px solid rgba(33, 63, 125, 0.06);
        box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
        border-radius: 4px;

        .general-details {
          display: flex;
          flex-direction: column;

          hr {
            margin: 0px 3.8rem 0px 3.8rem;
            max-height: 80px;
            opacity: 0.1;
            border: 1px solid #545F7D;
          }

          .slot {
            padding: 3.8rem;

            h1 {
              font-family: 'Work Sans';
              font-style: normal;
              font-weight: 600;
              font-size: 16px;
              line-height: 19px;
              margin: 0px 0px 2rem;
              color: var(--primarycolor);
              text-transform: capitalize;
            }

            .informations {
              display: inline-flex;
              flex-wrap: wrap;
              justify-content: flex-start;
              column-gap: 5rem;
              row-gap: 1rem;
              flex-direction: row;
              align-items: flex-start;

              .infoslot {
                line-height: 0;
                min-width: 154px;

                label {
                  font-family: 'Work Sans';
                  font-style: normal;
                  font-weight: 400;
                  font-size: 12px;
                  line-height: 14px;
                  text-transform: uppercase;
                  color: #545F7D;
                }

                p {
                  font-family: 'Work Sans';
                  font-style: normal;
                  font-weight: 600;
                  font-size: 16px;
                  line-height: 19px;
                  color: #545F7D;
                }
              }
            }
          }
        }
      }
    }
  }
}

/**Layout End*/



/** Global Designs*/

.custom-select-sd {
  position: relative;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  width: 100%;
  font-size: 15px;
  line-height: 15px;
  text-transform: capitalize;
  color: var(--primarycolor);
  padding: 0px 1rem;
  margin-bottom: 2rem;


  .selected-option {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 0px 1px 0px rgb(0 0 0 / 20%);

    &:hover {
      background-color: rgba(203, 213, 225, 0.1294117647);
    }
  }

  .options {
    position: absolute;
    left: 12px;
    right: 30px;
    background-color: white;
    top: 4rem;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 100;
    border-bottom: 1px solid var(--secondarycolor);
    display: flex;
    transition: max-height 0.3s ease-out;
    max-width: 200px;
    width: 250px;
    min-height: -moz-fit-content;
    min-height: fit-content;
    flex-direction: column;

    .option {
      padding: 10px;
      cursor: pointer;

      &:hover {
        background-color: rgba(57, 205, 204, 0.0588235294);
      }
    }
  }

}

.pagination-container {
  display: flex;
  list-style-type: none;

  .pagination-item {
    padding: 0 12px;
    height: 32px;
    text-align: center;
    margin: auto 4px;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    box-sizing: border-box;
    align-items: center;
    letter-spacing: 0.01071em;
    border-radius: 16px;
    min-width: 32px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #545F7D;
    border-radius: 4px;
    //opacity: 0.6;

    &:first-child,
    &:last-child {
      background: rgba(33, 63, 125, 0.1);
      border-radius: 4px;
      color: #213F7D;
      ;
    }

    &.dots:hover {
      background-color: transparent;
      cursor: default;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
      cursor: pointer;
    }

    &.selected {
      background-color: rgba(0, 0, 0, 0.04);
      color: #545F7D;
    }

    .arrow {
      &::before {
        position: relative;
        content: '';
        display: inline-block;
        width: 0.4em;
        height: 0.4em;
        border-right: 0.12em solid #213F7D;
        ;
        border-top: 0.12em solid #213F7D;
        ;
      }

      &.left {
        transform: rotate(-135deg) translate(-50%);
      }

      &.right {
        transform: rotate(45deg);
      }
    }

    &.disabled {
      pointer-events: none;

      .arrow::before {
        border-right: 0.12em solid rgba(0, 0, 0, 0.43);
        border-top: 0.12em solid rgba(0, 0, 0, 0.43);
      }

      &:hover {
        background-color: transparent;
        cursor: default;
      }
    }
  }
}

/* Animated Loader for API Fetching*/
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  h1 {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-transform: capitalize;
    color: var(--primarycolor);
  }

  p {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-transform: capitalize;
    color: var(--primarycolor);
  }
}

.loader {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}

.loader:before {
  animation: ball1 1s infinite;
  background-color: var(--secondarycolor);
  box-shadow: 30px 0 0 var(--primarycolor);
  margin-bottom: 10px;
}

.loader:after {
  animation: ball2 1s infinite;
  background-color: var(--primarycolor);
  box-shadow: 30px 0 0 var(--secondarycolor);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(0.8)
  }

  50% {
    transform: rotate(360deg) scale(1.2)
  }

  100% {
    transform: rotate(720deg) scale(0.8)
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #ff3d00;
  }

  50% {
    box-shadow: 0 0 0 #ff3d00;
    margin-bottom: 0;
    transform: translate(15px, 15px);
  }

  100% {
    box-shadow: 30px 0 0 #ff3d00;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #fff;
  }

  50% {
    box-shadow: 0 0 0 #fff;
    margin-top: -20px;
    transform: translate(15px, 15px);
  }

  100% {
    box-shadow: 30px 0 0 #fff;
    margin-top: 0;
  }
}

/**loader end*/


/**header user options pop up*/
.action {
  .user-menu {
    position: absolute;
    top: 120px;
    right: 23px;
    padding: 10px 20px;
    background: #fff;
    width: 200px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;

    &.active {
      top: 92px;
      visibility: visible;
      opacity: 1;
    }

    &::before {
      content: "";
      position: absolute;
      top: -5px;
      right: 28px;
      width: 20px;
      height: 20px;
      background: #fff;
      transform: rotate(45deg);
    }

    h3 {
      width: 100%;
      text-align: center;
      font-family: "Work Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      text-transform: capitalize;
      color: var(--primarycolor);

      span {
        font-size: 14px;
        color: #cecece;
        font-weight: 300;
      }
    }

    ul {
      padding: 0px 1.5rem;

      li {
        list-style: none;
        padding: 16px 0;
        border-top: 1px solid rgba(0, 0, 0, 0.05);
        display: flex;
        align-items: center;
        column-gap: 1rem;
        flex-direction: row;
        color: var(--primarycolor);

        img {
          max-width: 20px;
          margin-right: 10px;
          opacity: 0.5;
          transition: 0.5s;
        }

        &:hover {
          img {
            opacity: 1;
          }

          a {
            color: var(--main-color);
          }
        }

        a {
          display: inline-block;
          text-decoration: none;
          font-family: 'Work Sans';
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          color: var(--primarycolor);
          transition: 0.5s;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .action .user-menu {
    min-width: 300px;
  }
}

/**User Menu Popup End*/



/*desktop table action button*/
.action-btn {
  cursor: pointer;
  border: none;
  display: flex;
  background: none;
  padding: 0;
  align-items: center;
  margin: 0;
  outline: none;
}

/*mobile table action button*/
.action-btn-sx {
  background: var(--secondarycolor);
  display: none;
  color: var(--mainbg);
  border: none;
  border-radius: 4px;
  padding: .5rem 3rem;
}

/*popup for action-btn and action-btn-sx*/
.table-action-menu {
  position: absolute;
  background-color: white;
  right: 3rem;
  z-index: 100;
  padding: 1rem 2rem;
  min-width: 160px;
  transition: max-height 0.3s ease-out;
  border: 1px solid rgba(84, 95, 125, 0.04);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  cursor: pointer;

  img {
    width: 19px;
    height: 19px;
    margin: .8rem;
  }

  span {
    text-decoration: none;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 34px;
    color: #545F7D;
  }

  &.active {
    top: 92px;
    visibility: visible;
    opacity: 1;
  }
}

/*filter button for large screen table*/
.filter-btn {
  border: none;
  background: none;
}

/*mobile table action button*/
.filter-btn-sx {
  display: none;
  grid-area: ft;
  background: #213f7d;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: none;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: var(--mainbg);
  text-transform: uppercase;
  min-height: 40px;
}

/*filter button pop up*/
.filter-acton {
  position: absolute;
  background-color: white;
  z-index: 100;
  top: 46rem;
  left: 31rem;
  padding: 1rem 2rem;
  min-width: 160px;
  transition: max-height 0.3s ease-out;
  border: 1px solid rgba(84, 95, 125, 0.04);
  box-shadow: 0 0 1px rgb(0 0 0 / 4%);
  border-radius: 4px;
  max-width: 250px;

  form {
    display: flex;
    flex-direction: column;

    label {
      font-family: "Work Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 40px;
      color: #545F7D;
      text-transform: capitalize;
    }

    input {
      background: #FFFFFF;
      opacity: 0.2;
      border: 1px solid #213F7D;
      border-radius: 8px;
      font-family: 'Work Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #545F7D;
      opacity: 0.7;
      padding: 1rem;
      outline: none;
    }

    span {
      display: flex;
      align-items: center;
      margin-top: 1.5rem;
      justify-content: space-between;

      button {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        padding: 1rem 2rem;
        cursor: pointer;
      }

      button:first-child {
        border: 1px solid #545F7D;
        border-radius: 8px;
        color: #545F7D;
      }

      button:last-child {
        background: #39CDCC;
        border: 1px solid #39CDCC;
        border-radius: 8px;
        color: #FFFFFF;
      }
    }

  }
}

.form {

  form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-top: 70px;

    label {
      font-family: "Work Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 40px;
      color: #545F7D;
      text-transform: capitalize;
    }

    input {
      background: #FFFFFF;
      opacity: 0.2;
      border: 1px solid #213F7D;
      border-radius: 8px;
      font-family: 'Work Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #545F7D;
      opacity: 0.7;
      padding: 1rem;
      outline: none;
    }

    span {
      display: flex;
      align-items: center;
      margin-top: 1.5rem;
      justify-content: space-between;

      button {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        padding: 1rem 2rem;
        cursor: pointer;
      }

      button:first-child {
        border: 1px solid #545F7D;
        border-radius: 8px;
        color: #545F7D;
      }

      button:last-child {
        background: #39CDCC;
        border: 1px solid #39CDCC;
        border-radius: 8px;
        color: #FFFFFF;
      }
    }

  }
}

/** Custom Select for MobileView **/
.dropdown {
  position: relative;
  padding: 1rem;
  display: inline-block;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: var(--secondarycolor);
  border: none;
  outline: none;
  border-bottom: 1px solid;
  display: none;

  option {
    background: #FFFFFF;
    font-size: 14px;
    color: #555;
    cursor: pointer;

    &:selected {
      background-color: red;
    }
  }
}








/*
MOBILE RESPONSIVES
*/


// LOGIN PAGE
@media only screen and (max-width: 900px) {
  .login {
    .container_1 {
      display: none;
    }
  }

  .login .container_2 {
    width: 100%;

    .logo_sx {
      img {
        height: 34px;
        display: inline;
        position: absolute;
        right: 5rem;
        top: 7rem;
      }
    }

    form {
      margin: 7rem;
      box-shadow: none;
    }
  }
}

@media only screen and (max-width: 600px) {

  //added this in order to use the break point
  .pagination-container {
    width: 100%;
    margin: 0px -45px;

    .pagination-item.selected {
      background-color: var(--primarycolor);
      color: var(--mainbg);
    }
  }

  /*Small smartphones [325px -> 425px]*/
  .login {

    .container_2 {
      width: 100%;
      justify-content: center;
      padding: 0;
      box-shadow: none;

      .logo_sx {
        img {
          height: 34px;
          display: inline;
          position: absolute;
          right: 2rem;
          top: 2rem;
        }

      }

      form {
        padding: 0px 2rem;
        margin: 0;
      }
    }
  }
}

/*DataTable*/
// This media query handles all element withinthe table
@media only screen and (max-width: 970px) {
  main {

    // overiding the default view of the table for mobile
    .users .table {
      overflow: hidden;

      table {
        border: 0;
      }

      table caption {
        font-size: 1.3em;
      }

      table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }

      table tr {
        display: block;
        margin-bottom: .625em;
      }

      table td {
        border-bottom: 1px solid #ddd;
        display: block;
        text-align: right;
      }

      table td::before {
        /*
          * aria-label has no advantage, it won't be read inside a table
          content: attr(aria-label);
          */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
      }

      table td:last-child {
        border-bottom: 0;
      }
    }

    //Reset td last child rule defined in above
    .layout main .users .table table tr:last-child td {
      border-bottom: initial;
    }

    // change where the action-btn popup anchors
    // on smaller devices
    .table-action-menu {
      right: initial;
    }

    // action buttons on mobile is different from
    // that on large screen
    .action-btn {
      display: none;
    }

    .action-btn-sx {
      display: block;
    }

    .filter-btn-sx {
      display: block;
      grid-area: ft;
    }
  }
}

/*Small screens, laptops*/
@media only screen and (max-width: 970px) {

  // hide the sidebar for toggling later
  .layout .sidebar {
    transform: translatex(-100%);
    padding: 0rem 0px;
  }

  .layout .header {
    .bars {
      display: inline-block;
    }
  }

  .layout .header .search {
    display: none;
  }

  .layout {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header header"
      "main main";

    main {
      .users {
        grid-template-areas:
          "name name name name"
          "c1 c2 c3 c4"
          "ft ft ft ft"
          "table table table table";
      }
    }
  }
}

/*  iPads, Tablets.*/
@media only screen and (max-width: 768px) {

  .layout {
    .header {
      padding: 0px 1.8rem;

      #logo {
        max-height: 32px;
      }
    }
  }

  main {
    .users {
      grid-template-columns: 1fr !important;
    }
  }
}

/*Mobile devices*/
@media only screen and (max-width: 480px) {

  // Grid system for mobile devices
  .layout {
    grid-template-areas: "header"
      "main";

    .header {
      .action .account-handle {
        width: 100%;
      }

      .right {
        min-width: 0px;

        #doc,
        #noticon,
        .action .account-handle .avatar {
          display: none;
        }

        .action .account-handle .toggler {
          background: #eee;
          border-radius: 4px;
          padding: .5rem;
        }

        .action .account-handle {
          min-width: 0px;
        }
      }
    }

    main {
      .users {
        grid-template-areas: "name"
          "c1"
          "c2"
          "c3"
          "c4"
          "ft"
          "table";
        grid-template-rows: 30px repeat(4, 200px) 30px 1fr;
        padding: 3rem;

        .table .data-table-footer {
          flex-direction: column;
          width: 100%;
          margin-top: 1rem;
        }
      }

      .user-details {
        grid-template-areas: "back"
          "name"
          "card1"
          "card2";
        grid-template-rows: 25px 100px 400px 1fr;
        grid-template-columns: 1fr;
        padding: 1rem;

        .name {
          grid-area: name;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: column;

          span {
            display: flex;
          }

          button {
            font-size: 12px;
          }
        }

        .card1 {
          display: flex;
          flex-direction: column;

          .general-info {
            flex-direction: column;
            text-align: center;

            .username-img-id .name-id h1 {
              font-size: 20px;
            }
          }

          hr {
            width: 100%;
          }

          .dropdown {
            display: inline-block;
          }

          .section-toggle {
            grid-area: none;
            display: none;
          }
        }
      }
    }
  }
}

/*Mobile devices*/
@media only screen and (max-width: 320px) {

  // the logo has a break point here ,
  // so it is removed
  .header {
    #logo {
      display: none;
    }
  }
}